/* new update 3 */

#reserve-now{
	display: none;
}
#checkout-section-header,
#order-details-header,
#totals-header{
	text-align: center;
	font-size: 2em;
	padding-bottom: 1em;
	display: inline-block;
	vertical-align: middle;
	color: white;
	font-family: "kontikialohajfregular", sans-serif;
}
#checkout-section-header:before,
#order-details-header:before,
#totals-header:before{
	font-size: 0.85em;
	padding: 0em 0.25em;
	border-radius: 50%;
	margin-right: 0.25em;
	vertical-align: top;
	display: inline-block;
	border: 0.09em solid;
	font-family: 'Montserrat', sans-serif;
	color: gold;
}
#checkout-section-header:before {
	content: "1";
}
#order-details-header:before {
	content: "2";
}
#totals-header:before {
	content: "3";
}
.col-md-12.col-lg-4.order-0.order-md-0, .col-md-12.col-lg-8.order-1.order-md-1 {
	display: block;
	text-align: center;
}
.checkout-section {
	background: white;
	padding: 4em 1em;
	border-radius: 1em;
	text-align: center;
	max-width: 68em;
	margin: 0 auto;
	box-shadow: 0em 0.15em 1em rgba(0,0,0,0.2);
	width: 95%;
	margin-bottom: 2em;
}
.checkout-section .container {
	margin: 0 auto;
	text-align: left;
	width: 100%;
}
.customer-fields {
	display: inline-table;
	width: 49%;
	position: relative;
	margin: 1em 0em;
	text-align: center;
}
.detail-label {
    color: #5f78a0;
    display: inline-block;
    vertical-align: middle;
    width: 24%;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
}
.detail-input {
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    color: #333;
    border: none;
    background: aliceblue;
    width: 75%;
    border: 2px solid #a9cadc;
    max-width: 25em;
    border-radius: 1em;
}
.checkout-section input:focus{
	outline-color: #009fdf;
}
.checkout-section br {
	line-height: 3.5em;
	display: none;
}
.price-n span {
  text-decoration: line-through;
  margin-right: 0.5em;
  color: #d5d2db;
}
#container-1 .error:not(input) {
    color: #9c0000;
    font-family: system-ui, sans-serif;
    padding: 0;
    text-align: center;
    display: block;
    margin: 1em auto;
}
/* table styling */
#accordion{
	background: white;
	padding: 4em 1em;
	border-radius: 1em;
	text-align: center;
	max-width: 68em;
	margin: 0 auto;
	margin-bottom: 2em;
	position: relative;
	box-shadow: 0em 0.15em 1em rgba(0,0,0,0.2);
	width: 95%;
}
.card-body table {
	width: 100%;
	font-family: system-ui;
}
.card td {
	text-align: center;
}
.card-header {
	display: none;
	font-family: system-ui;
}
.anchor-16 {
	display: none;
}
.anchor-17 {
	/*! position: absolute; */
	/*! right: 7em; */
	/*! top: 1em; */
	/*! border: 2px solid; */
	/*! padding: 0.25em 1em; */
	/*! border-radius: 1em; */
	/*! color: #0c6b9e; */
}
.anchor-18{
	/*! position: absolute; */
	/*! right: 1em; */
	/*! top: 1em; */
	/*! border: 2px solid; */
	/*! padding: 0.25em 1em; */
	/*! border-radius: 1em; */
	/*! color: #0c6b9e; */
	/*! display: ; */
}
#accordion th {
	text-transform: capitalize;
	color: #0c6b9e;
}
#accordion label {
	display: inline-block;
	text-align: left;
	padding: 2em;
}
.numberSpinner {
	margin: 0.5em;
	text-align: center;
	font-size: 0;
}
.numberSpinner section {
    position: relative;
    overflow: hidden;
    width: 2.25em;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid;
}
.numberSpinner input {
    font-size: 16px;
    width: 3em;
    padding: 1em 0.33em;
    border: 0;
    color: #333;
    -webkit-appearance: none;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    background: aliceblue;
}
.numberSpinner input{
  -moz-appearance: textfield;
}
.numberSpinner button {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	width: 1.5em;
	height: 1em;
	padding: 1.44em 0em;
	line-height: 0em;
	text-align: center;
	border: 0;
	font-weight: bold;
	background-color: #0c6b9e;
	color: white;
	transition: 0.3s;
	cursor: pointer;
}
.numberSpinner button:hover{
  opacity:0.7;
}
.numberSpinner button:active{
  background-color: gold;
}
#accordion input[type=text], #accordion select {
    padding: 1em;
    color: #333;
    border: 2px solid #a9cadc;
    background: aliceblue;
    border-radius: 1em;
}
#accordion input{
	display: inline-block;
	text-align: left;
}
#accordion label.error {
	display: block !important;
	text-align: center !important;
	margin: 0 auto;
	padding: 0 !important;
	color: red;
	font-weight: bold;
}
/* datepicker custom styling */
.ui-widget {
font-family: system-ui;
}
.ui-datepicker {
width: auto;
max-width: 40em;
}
.ui-datepicker .ui-datepicker-title {
padding: 0.75em;
}
.ui-datepicker-calendar th span {
		font-weight: normal;
}
.ui-widget.ui-widget-content {
margin: 0 auto;
border: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-button,
.ui-button {
border: none;
background: #0c6b9e;
color: white;
padding: 2em 0.25em 0.25em 2em;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
border: none;
background: white;
font-weight: normal;
color: #212121;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
background: gold !important;
color: #0c6b9e !important;
font-weight: bold;
}
.ui-widget-header {
border: none;
color: #0c6b9e;
width: 100%;
background: #f9d365;
}


#cart-edit-bottom{
	background: white;
	padding: 4em 1em;
	border-radius: 1em;
	text-align: center;
	max-width: 68em;
	margin: 0 auto;
	margin-bottom: 2em;
	box-shadow: 0em 0.15em 1em rgba(0,0,0,0.2);
	width: 95%;
}
#cart-edit-bottom p {
	display: inline-block;
	vertical-align: top;
	padding: 1em;
	font-weight: bold;
	color: #0c6b9e;
	font-size: 1.25em;
}
#cart-edit-bottom span {
	display: block;
	font-weight: 300;
	color: #333;
	font-size: 0.85em;
}
#cart-bottom {
	margin: 0 auto;
	display: table;
	width: 20em;
	text-align: center;
}
#cart-bottom .col-sm-6 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#cart-bottom {
	margin: 0 auto;
	display: table;
	width: 25em;
	text-align: center;
}
#checkout {
  color: darkred;
  font-family: "kontikialohajfregular", sans-serif;
  background: gold;
  font-size: 1em;
  padding: 1em 2.5em;
  border-radius: 2em;
  text-transform: capitalize;
	border: 0;
}
#checkout{
  opacity: 1;
}
#checkout:disabled{
  opacity: 0.3;
  cursor: not-allowed;
}
#cart-bottom #input-1,
#cart-bottom #input-2{
  color: white;
  font-family: "kontikialohajfregular", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
	border: 0;
	background-color: transparent;
	border: 0.1em solid;
	padding: 0.5em 1em;
	border-radius: 2em
}
.show-checkout {
  color: #012f3f;
  font-family: "kontikialohajfregular", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  border: 0;
  background-color: white;
  padding: 0.5em 2em;
  border-radius: 2em;
  cursor: pointer;
}
#purchase.price-form{
	display: none;
}
#purchase.price-form.visible{
	display: block;
}
#purchase.price-form {
  position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.65);
	left: 0;
	top: 0;
	z-index: 999;
}
.terms-scroll-box {
	padding: 4em;
	background: white;
	line-height: 2em;
	text-align: justify;
	width: 90%;
	height: 90%;
	max-height: 30em;
	overflow-y: scroll;
	margin: 0 auto;
	padding: 2em;
	font-family: 'Montserrat', sans-serif;
}
.title {
	text-align: center;
	font-size: 2.5em;
	margin: 1em auto;
	padding-top: 2em;
	color: white;
	text-shadow: 0em 0em 1em black;
	width: 85%;
}
.terms-scroll-box .title {
	font-size: 1.5em;
	font-weight: 300;
	color: #006c9c;
	text-shadow: 0em 0em 1em white;
	padding-top: 0;
}
@media(max-width:500px){
	.title{
		font-size: 2em;
		width: 95%;
		margin: 1em auto;
	}
}
.title b {
  font-family: inherit;
  display: inline-block;
  vertical-align: middle;
}
#close-checkout {
  background: none;
  color: white;
  border: none;
  float: right;
  text-shadow: 0em 0em 1em black;
}
#close-checkout .material-symbols-outlined {
  font-size: 3em;
}

#show-checkout {
  background: white;
  font-family: "kontikialohajfregular", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  border: 0.1em solid white;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #016283;
}
/*========================*/


#checkout-display-warning {
  transition: 1s;
}
#checkout-display-warning {
  position: fixed;
  bottom: 0;
  z-index: 999;
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  box-shadow: 0em 0em 2em rgba(0,0,0,0.5);
  width: 100%;
  left: 0;
  color: white;
  background: #a60c17;
  text-shadow: none !important;
}

@media(max-width:1167px){
	.checkout-section {
		padding: 2em;
	}
}
@media(max-width:750px){
  .numberSpinner button {
	display: block;
	margin: 0 auto;
	padding: 0.75em 0;
	width: 3em;
	}
	.customer-fields {
		display: table;
		width: 100%;
	}
}
@media(max-width:600px){
	.numberSpinner button,
	.numberSpinner input {
	font-size: 12px;
	}
	.col-md-12.col-lg-4.order-0.order-md-0, .col-md-12.col-lg-8.order-1.order-md-1 {
	display: block;
	padding: 1em 0em;
	text-align: center;
}
#accordion {
	border-radius: 0;
}
#accordion label {
	display: block;
	text-align: center;
}
.checkout-section {
	background: white;
	border-radius: 0;
}
#cart-edit-bottom {
	border-radius: 0;
	}
}
@media(max-width:600px){
	#accordion label{
		font-size: 1.25em;
		font-weight: bold;
		color: #0c6b9e;
		padding: 0;
		margin: 0.75em;
	}
  .price-n{
    font-weight: bold;
    color: #0c6b9e;
  }
  .price-n span {
	display: block;
	line-height: 2em;
  }
}

#security-promise img {
  width: 2em;
  display: inline-block;
  vertical-align: middle;
}
.checkout-header {
  margin-top: 7em;
  background: white;
  border-bottom: 0.25em solid #fda606;
}
.checkout-header ul {
  max-width: 55em;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
  width: 100%;
  display: table;
}
#checkout-header-left {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 2em;
}
#checkout-header-left h3 {
  font-size: 2em;
  color: #023040;
}
#checkout-header-right {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding-right: 1em;
}
#security-promise span {
  font-size: 1.25em;
  color: #023040;
}
@media(max-width:400px){
	.checkout-header{
		margin-top: 5em;
	}
	#checkout-header-left,
	#checkout-header-right{
		display: block;
		text-align: center;
		padding: 1em;
	}
}
