/* gallery */
#photo-gallery {
	column-count: 4;
	padding: 0em 5em;
	max-width: 1400px;
	margin: 0 auto;
}
#gallery-header {
  height: 15em;
  background-image: url("../images/gallery/50.jpg");
  background-size: cover;
  margin-top: 7em;
  width: 100%;
  text-align: center;
  position: relative;
  background-position: center;
}
#gallery-header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: normal;
  font-size: 3em;
}
#gallery h3 {
  max-width: 1400px;
  width: 100%;
  padding: 1em 3em;
  text-transform: capitalize;
  font-size: 2em;
  text-align: center;
  margin: 0 auto;
}
.gallery-image {
	width: 100%;
	cursor: pointer;
}

@media(max-width:1080px) {
	#photo-gallery {
		column-count: 3;
	}
}

@media(max-width:840px) {
	#photo-gallery {
		column-count: 2;
	}
}

@media(max-width: 620px) {
	#photo-gallery {
		column-count: 1;
	}
}

#photo-gallery.active{
	position: fixed;
	z-index: 998;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-top: 0;
	max-width: 100%;
	column-count: 1;
	padding: 0;
}

#photo-gallery.active .gallery-image{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 999;
	display: none;
	transform: translate(-50%,-50%);
	max-height: 35em;
	width: auto;
}

#photo-gallery.active .gallery-image.active{
	display: block;
}

#photo-controls{
	display: none;
}

#photo-gallery.active #photo-controls{
	display: block;
	position: absolute;
	bottom: 2em;
	width: 100%;
	text-align: center;
}
#image-gallery-next {
  color: white;
  background: none;
  border: 0;
}
#image-gallery-prev {
  color: white;
  background: none;
  border: 0;
}
#image-gallery-next {
  color: white;
  background: none;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
#image-gallery-prev {
  color: white;
  background: none;
  border: 0;
  cursor: pointer;
}
.gallery-index-button {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0;
  margin: 0.25em;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
	opacity: 0.25;
  cursor: pointer;
}
.gallery-index-button.active,
.gallery-index-button:hover{
	opacity: 1;
}
#photo-controls .material-symbols-outlined {
  font-size: 3em;
}
#photo-close-btn{
	position: absolute;
	z-index: 999;
	right: 1em;
	top: 1em;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
}
#photo-close-btn .material-symbols-outlined{
	color: white;
	font-size: 4em;
}
#photo-gallery.active #photo-close-btn{
	display: block;
}
