#hero{
    height: 38em;
    margin-top: 4em;
    width: 100%;
    background-image: url("../images/photos/fire.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-bottom: 0.5em solid #f7de97;
}
@media(max-width:600px){
  #hero{
    /*! background-image: url("../images/photos/sealifeparkluaufireceremony.jpg"); */
    font-size: 0.85em;
  }
}
#player {
  pointer-events: none;
  height: 45em;
  width: 100%;
  margin-top: -5em;
  position: absolute;
}
@media(max-width:1700px){
  #player{
    top: -5em;
    height: 50em;
  }
}
@media(max-width:800px){
  #player{
    transform: scale(1.5);
  }
}
@media(max-width:450px){
  #player{
    transform: scale(2);
    top: 0;
  }	
}
#hero header {
  position: absolute;
  left: 2em;
  bottom: 2em;
  background: #000000a3;
  padding: 2em;
  text-align: center;
  border-radius: 2em;
  width: 50%;
  max-width: 32em;
  position: absolute;
  z-index: 1;
}
#hero h1 {
  color: #FAFAFA;
  font-weight: lighter;
  margin: 0 auto;
  padding-bottom: 0.5em;
  line-height: 1.25em;
  font-size: 2.75em;
  max-width: 12em;
}
#hero hr {
  background: #F9D365;
  border: none;
  height: 3px;
  max-width: 22em;
  margin: 0 auto;
}
#hero h3 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  max-width: 20em;
  margin: 0 auto;
  text-transform: capitalize;
  margin-top: 1em;
}
#hero header a {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1.33em;
  margin-top: 1em;
  display: inline-block;
}
@media(max-width:1000px){
  #hero header{
    width: 90%;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    max-width: 40em;
  }
}
@media(max-width: 800px){
  #hero h1{
    width: 100%;
  }
  #hero header{
    width: 100%;
    border-radius: 0;
  }
}
#starburst {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media(max-width:1000px){
  #starburst{
    top: 1.25em;
  }
}
#starburst img {
  width: 18em;
}
/*===========*/

#discounts-promo {
	width: 100%;
	position: relative;
	height: 0;
}

#discounts-promo div {
	width: 20em;
	background: url("../images/design/beigepetroglyph.png");
	position: absolute;
	right: 3em;
	bottom: 3em;
	z-index: 5;
	height: auto;
	background-size: 30em;
	padding: 1em;
	text-align: center;
	border-radius: 1em;
	box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.5);
}

#discounts-promo b {
	font-size: 2em;
	font-weight: bold;
	vertical-align: sub;
	font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
}

#discounts-promo h3 {
	font-weight: normal;
	color: #044056;
	font-size: 1.25em;
}

#discounts-promo h2 {
	color: #023040;
	font-weight: normal;
	font-size: 1.75em;
	line-height: 1.5em;
	border-top: 0.1em solid #a58689;
	border-bottom: 0.1em solid #a58689;
	width: 8em;
	margin: 0.25em auto;
	font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
}

#discounts-promo p {
	font-size: 0.8em;
	line-height: 1.75em;
}

#discounts-promo p a {
	color: #333;
	font-weight: bold;
}

#discount-promo-go img {
	height: 1.5em;
}

#discount-promo-go span {
	font-size: 2em;
	text-transform: capitalize;
	font-weight: bold;
	font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
	margin-right: 0.15em;
	color: #ffec8c;
}

#discount-promo-go {
	background: #012f3f;
	display: inline-block;
	padding: 0em 0.5em;
	border-radius: 1em;
}

#discount-promo-learn-more {
	color: #f9d365;
	display: inline-block;
	padding: 0.5em 2em;
	border: 0;
	font-size: 1em;
	text-transform: capitalize;
	border-radius: 3em;
	background: #580202;
	cursor: pointer;
	font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
	width: 100%;
	max-width: 20em;
}

@media(max-width:1000px) {
	#discounts-promo {
		background-image: url("../images/design/greenTapas.png");
		background-size: 50em;
		background-position: center;
		height: auto;
		padding: 2em;
		width: 100%;
	}

	#discounts-promo div {
		width: 95%;
		max-width: 45em;
		position: relative;
		margin: 0 auto;
		right: auto;
		bottom: auto;
		z-index: 0;
	}
}

#palm1 {
	display: none;
}

#palm2 {
	display: none;
}

@media(max-width:850px) {

	#palm1 {
		display: block;
		width: 18em;
		position: absolute;
		transform: rotate(-45deg);
		left: -9em;
		top: 5em;
	}

	#palm2 {
		display: block;
		width: 18em;
		position: absolute;
		transform: rotate(45deg) scaleX(-1);
		right: -9em;
		top: 5em;
	}

	#discounts-promo {
		background-image: none;
		padding: 0;
	}

	#discounts-promo div {
		width: 100%;
		border-radius: 0;
		padding: 2em;
		background-image: url("../images/design/brownpattern.png");
		background-size: 45em;
		background-position: bottom;
	}

	#discounts-promo div h2,
	#discounts-promo div h3 {
		color: #ffec8c;
	}

	#discount-promo-learn-more {
		font-size: 1.33em;
	}

	#discount-promo-go {
		font-size: 1.5em;
	}

	#discounts-promo p,
	#discounts-promo p a {
		color: beige;
		line-height: 3em;
	}

	#discount-promo-learn-more {
		background: none;
		border: 0.125em solid;
		max-width: 10em;
	}
}

@media(max-width: 400px) {
	#palm1 {
		left: -10.5m;
	}

	#palm2 {
		right: -10.5em;
	}
}

/*==========*/


#video-tile{
   width: 50%;
   height: 35em;
   background-image: url("../images/design/bluepetroglyph.png");
   float: left;
   background-position: top;
   background-size: 50em;
   position: relative;
}
.img-tile{
  width: 50%;
  height: 35em;
}
#img-tile-first{
	background: url("../images/photos/performers.jpeg");
    background-size: cover;
    background-position: center;
	float: right;
	clear: right;
}
#img-tile-second{
	background: #9bc2ff;
	float: left;
    background: url("../images/photos/firedramatic.jpeg");
    background-size: cover;
    background-position: 66% 0%;
}
#reading-tile{
	height: 35em;
	background-image: url("../images/design/greenTapas.png");
    background-size: 50em;
    background-position: center;
	width: 50%;
	float: right;
	clear: none;
    position: relative;
}
#reading-tile h3 {
  color: white;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  font-size: 2em;
  text-shadow: 0em 0em 1em #859148;
}
#reading-tile p {
  color: white;
  line-height: 2em;
  text-shadow: 0em 0em 1em #838f45;
  margin: 1em auto;
}
#reading-tile button {
  margin: 0 auto;
  display: block;
  background: #FAFAFA;
  border: none;
  font-size: 1.1em;
  text-transform: capitalize;
  padding: 1em 2em;
  border-radius: 2em;
  color: #9D3124;
}
#reading-tile section{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    text-align: center;
}
#video-tile section {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
#video-tile h2 {
  color: white;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  line-height: 1em;
  font-size: 2em;
  text-shadow: 0em 0em 1em #4b8090;
  margin-bottom: 0.5em;
}
#video-tile h2 span {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 0.75em;
}

#video-player {
  max-width: 16em;
  height: 9em;
  font-size: 1.75em;
  width: 90%;
}
@media(max-width:850px){
  #hero{
    height: 34em;
  }
	#video-tile,
  #reading-tile{
    width: 100%;
    height: auto;
  }
  #video-tile section,
  #reading-tile section{
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    padding: 3em 0em;
    max-width: 90%;
    margin: 0 auto;
  }
  #img-tile-second{
    height: 18em;
    width: 100%;
    background-position: center;
    opacity: 0.75;
  }
  #img-tile-first{
    display: none;
  }
  #reading-tile h3{
    position: absolute;
    width: 100%;
    top: -3em;
    text-shadow: 0em 0em 2em black;
    font-size: 2.5em;
  } 
}
#reading-tile a {
  color: #333;
  font-family: "kontikialohajfregular", sans-serif;
  background: #eff0e7;
  font-size: 1em;
  padding: 1em 2.5em;
  text-transform: capitalize;
  border-radius: 2em;
  margin: 0 auto;
  display: inline-block;
}
/*===========================*/
#packages-header {
	text-align: center;
	font-size: 2em;
	padding: 1em;
	color: #973e03;
	background: white;
  }
  #packages-header span {
	font-size: 0.7em;
  }
  #luau-previews {
	width: 100%;
	display: table;
  }
  .luau-preview {
	display: table-cell;
	width: 33.3%;
	padding: 3em;
	background-image: url("../images/hibiscus-background.png");
	background-size: 20em;
	background-repeat: no-repeat;
	background-position: bottom right;
  }
.seating-link{
  color: #1c1d31;
  display: inline-block;
  padding: 0.4em 1em;
  border: 0;
  text-transform: capitalize;
  border-radius: 3em;
  cursor: pointer;
  vertical-align: baseline;
  border: 0.1em solid;
  font-size: 1.25em;
  font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
}
.preview-learn-more{
  color: #1c1d31;
  display: inline-block;
  padding: 0.5em 2em;
  border: 0;
  font-size: 1.25em;
  text-transform: capitalize;
  border-radius: 3em;
  background: #b7bb65;
  cursor: pointer;
  margin-top: 1em;
  font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
}
  #bronze-seating {
	background-color: #FFFFF0;
  }
  #silver-seating {
	background-color: #FFFFF0;
  }
  #gold-seating {
	background-color: #FFFFF0;
  }
  .luau-preview header {
	text-transform: capitalize;
	font-weight: normal;
	text-align: center;
	line-height: 1em;
	font-size: 2em;
	font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
  }
  .luau-preview hr {
	max-width: 13em;
	margin: 1em auto;
	border: 0;
	height: 3px;
  }
  .package-schedule {
	text-align: center;
	margin-bottom: 1em;
	text-transform: capitalize;
  }
  .luau-preview ul {
	list-style-type: disc;
	display: block;
	list-style-position: inside;
	margin: 0 auto;
	line-height: 2em;
    max-width: 20em;
  }

.luau-preview li {
  display: block;
  text-align: left;
}
  .package-price {
	text-transform: capitalize;
	margin-top: 2em;
  }
  .package-price span {
	font-size: 2em;
	text-align: left;
   font-family: 'kontikialohajfregular', 'Lobster', sans-serif;
  }
  
  #bronze-seating header {
	color: #1E1712;
  }
  #silver-seating header {
	color: #002E3E;
  }
  #gold-seating header {
	color: #BB5911;
  }
  
  #bronze-seating hr {
	background: #984953;
  }
  #silver-seating hr {
	background-color: #4B808F;
  }
  #gold-seating hr {
	background: #C96E27;
  }

  @media(max-width:1080px){
	  .luau-preview {
	    padding: 3em 1.75em;
	  }
  }
  @media(max-width:920px){
	    .luau-preview {
	      width: 100%;
	      display: block;
	      text-align: center;
	      margin: 0 auto;
	    }
      #book-packages {
	      padding: 2em;
	      text-align: center;
      }
      #book-packages a {
	    font-size: 1.5em;
	    color: #581f02;
	    font-family: "kontikialohajfregular", sans-serif;
	    background: #f9d365;
	    padding: 1em 4em;
	    border-radius: 0.5em;
	    display: inline-block;
    }
  }

@media(max-width:1080px){
  .luau-preview {
  padding: 3em 1.5em;
    position: relative;
  }
}
@media(max-width:920px){
  .luau-preview {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #bronze-seating{
    border-right: none;
    border-bottom: 0.5em solid white;
    border-top: 0.5em solid white;
  }
  #silver-seating {
    border-right: none;
    border-bottom: 0.5em solid white;
  }
  #gold-seating {
    border-right: none;
    border-bottom: 0.5em solid white;
  }
}
@media(max-width: 500px){
	  .luau-preview {
		  font-size: 1.2em;
	  }
	#video-tile section, #reading-tile section{
		font-size: 1.1em;
	}
}
/*===========*/

#book-packages {
  padding: 2em 0em;
  text-align: center;
  background: white;
  display: none;
}
#book-packages a {
  display: inline-block;
  background-color: #333;
  color: #d96456;
  text-transform: capitalize;
  padding: 0.5em 2em;
  font-size: 1.5em;
  border-radius: 2em;
}
/*======*/

#seating {
  display: table;
  width: 100%;
}
#what-to-expect {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  background: url("../images/palm_image_red.jpg");
  background-size: cover;
  background-position: center bottom;
  padding: 4em 2em;
}
#seating-tile {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e8eedd;
  padding: 2em;
}
#what-to-expect ul {
  max-width: 20em;
  margin: 0 auto;
  text-align: left;
  font-family: "montserrat";
  color: white;
  text-shadow: 0em 0em 1em #821b0f;
  line-height: 1.5em;
}
#what-to-expect h3 {
  color: #FAFAFA;
  font-weight: lighter;
  width: 12em;
  margin: 0 auto;
  padding-bottom: 0.5em;
  line-height: 1.25em;
  font-size: 2em;
  text-shadow: 0em 0em 1em #e87365;
}
#seating-tile img {
  width: 90%;
  margin: 0 auto;
  display: block;
}
@media(max-width:1060px){
  #what-to-expect,
  #seating-tile{
    width: 100%;
    display: block;
    transform: scaleY(-1);
  }
  #seating{
    transform: scaleY(-1);
  }
}
#misc-first,
#misc-second,
#misc-third{
  position: relative;
  height: 35em;
  border-bottom: 0.25em solid beige;
}
#misc-second{
  background-image: url("../images/photos/imugents.jpeg");
  background-size: cover;
  background-position: right bottom;
  background-position: top center;
  width: 50%;
  float: right;
  clear: right;
}
#misc-third{
  background-image: url("../images/photos/evening.jpeg");
  background-size: cover;
  background-position: center;
  width: 50%;
  display: block;
  float: left;
}
#misc-first h3,
#misc-second h3,
#misc-third h3{
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translateX(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 2em;
  width: 100%;
  line-height: 1em;
  font-weight: normal;
  text-shadow: 0em 0em 1em black;
  max-width: 90%;
}

#misc-first span, #misc-second span, #misc-third span {
  position: absolute;
  left: 50%;
  bottom: 10em;
  transform: translateX(-50%);
  background: #FAFAFA;
  padding: 1em 2em;
  text-transform: capitalize;
  border-radius: 2em;
  color: #d96456;
}
@media(max-width:1060px){
  #misc-first{
    width: 100%;
    float: none;
    clear: initial;
    display: block;
  } 
  #misc-second,#misc-third{
    width: 100%;
    float: none;
    clear: initial;
    display: block;
  }
}
@media(max-width:600px){
  #starburst{
    top: 3em;
    left: auto;
    bottom: auto;
    right: 0;
  }
  #starburst img{
    width: 13em;
  }
}