/*================*/
/* update 7*/ 

*, *:before, *:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}
.material-symbols-outlined {
	vertical-align: middle;
}
a {
	text-decoration: none !important;
}
b {
   font-weight: bold;
}
ul, ul li {
}
html {
	overflow-x: hidden;
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
	overflow-x: hidden;
	font-size: 32px;
	background: url("../images/design/alohakailuaubackground.jpg");
	background-size: 10em;
}
@media(max-width:2280px) {
	body {
		font-size: 28px;
	}
}
@media(max-width:2160px) {
	body {
		font-size: 24px;
	}
}
@media(max-width:1800px) {
	body {
		font-size: 20px;
	}
}
@media(max-width:1608px) {
	body {
		font-size: 18px;
	}
}
@media(max-width:640px) {
	body {
		font-size: 15px;
	}
}
@media(max-width:480px) {
	body {
		font-size: 14px;
	}
}
@media(max-width:350px) {
	body {
		font-size: 10px !important;
	}
}
h1, h2, h3, h4, h5 {
	font-family: "kontikialohajfregular", sans-serif;
}
p, a, b {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1em;
	font-weight: 300;
}
/*======== navigation =========*/
#main-nav{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	background-image: url("../images/design/turquoisepattern.jpg");
	padding: 0;
	background-size: 45em;
	background-repeat: repeat-x;
	background-position: top;
	border-top: 0.25em solid #f9d365;
}
#main-nav ul{
	width: 100%;
	max-width: 1400px;
	display: table;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	list-style-type: none;
}
#main-nav ul li a,
#nested-nav{
	color: white;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-transform: capitalize;
	border-bottom: 2px solid transparent;
}
#drop-down{
	position: absolute;
	width: 20em;
	background-color: #000000b2;
	left: 0;
	text-align: left;
	z-index: 3;
	padding: 1em;
	line-height: 2em;
	display: none;
}
#nested-nav:hover #drop-down{
	display: block;
}
#logo img {
  max-width: 13em;
}
@media(max-width:400px){
	#logo img{
		font-size: 0.7em;
	}
}
#drop-down a {
  display: block !important;
}
#desktop-phone {
	color: #012f3f;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 7.5em;
	transform: translateX(-50%);
	background: #f9d365;
	padding: 0.5em 2em;
	border-radius: 1em;
	box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.33);
	font-weight: bold;
}
#logo {
}
#main-nav a {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#main-nav ul li a:hover:not(#logo a){
	border-bottom: 2px solid;
}
.nav-desktop:first-child {
  text-align: right;
}
.nav-desktop:not(first-child) {
  text-align: left;
}
#reserve-now{
	color: #581f02;
	font-family: "kontikialohajfregular", sans-serif;
	background: #f9d365;
	font-size: 1.25em;
	padding: 1em 2.5em;
	position: fixed;
	left: 0.5em;
	bottom: 0.5em;
	z-index: 5;
	border-radius: 2em;
	text-transform: capitalize;
}
/*======== mobile navigation =========*/
#menu header {
	font-size: 1.25em;
	color: white;
	font-family: 'Montserrat', sans-serif;
}
#phone-mobile {
  font-size: 1em;
}
#phone-mobile .material-symbols-outlined {
  font-size: 3em;
}
.nav-desktop{
	display: table-cell;
	width: 33%;
}
#logo {
  display: table-cell;
  width: 30%;
}
.mobile-nav{
	display: none;
}
.menu-btn {
	height: 3em;
	transition: 0.3s;
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 0.75em;
	position: absolute;
	width: 3.5em;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.menu-btn hr {
	display: block;
	width: 100%;
	transition: 0.3s;
	position: absolute;
	border: 0.25em solid white;
	height: 0;
}
.menu-btn-hr-1 {
	top: 0;
	left: 50%;
	-moz-transform: translateX(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) rotate(0deg);
	-o-transform: translateX(-50%) rotate(0deg);
	-webkit-transform: translateX(-50%) rotate(0deg);
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2 {
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.menu-btn-hr-3 {
	bottom: 0;
	left: 50%;
	-moz-transform: translateX(-50%) rotate(0deg);
	-ms-transform: translateX(-50%) rotate(0deg);
	-o-transform: translateX(-50%) rotate(0deg);
	-webkit-transform: translateX(-50%) rotate(0deg);
	transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1 {
	top: 50%;
	-moz-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	-o-transform: translate(-50%, -50%) rotate(-45deg);
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2 {
	opacity: 0;
}
.menu-btn.active .menu-btn-hr-3 {
	top: 50%;
	-moz-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	-o-transform: translate(-50%, -50%) rotate(45deg);
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}
#mobile-nav {
	position: absolute;
	z-index: 998;
	width: 100%;
	background: #1e1e1ee5;
	padding: 4em;
	right: 0;
	top: 6em;
	display: none;
 }
  #mobile-nav a {
	width: 100%;
	display: block;
	color: white;
	text-align: right;
	margin: 1em;
	text-transform: capitalize;
		font-size: 1.33em
 }
@media(max-width:850px){
	#desktop-phone{
		display: none;
	}
	#main-nav{
		background-size: cover;
		position: fixed;
	}
	.nav-desktop{
		display: none;
	}
	.mobile-nav{
		display: inline-block;
		position: relative;
		width: 20%;
	}
	#logo {
		text-align: center;
		max-width: 50%;
  		display: inline-block;
		max-width: 50%;
		width: 100%;
	}
	#mobile-nav{
		transform: scaleY(0);
		transition: 0.3s;
		transform-origin: top;
	}
	#mobile-nav{
		display: block;
		position: fixed;
	}
	#mobile-nav.active{
		transform: scaleY(1);
	}
	#reserve-now{
		width: 100%;
		left: 0;
		text-align: center;
		border-radius: 0;
		bottom: 0;
		font-size: 1.5em;
	}
}
#bop-left,
#bop-right {
	position: absolute;
	width: 22em;
	z-index: 997;
}
#bop-left {
	transform: rotate(45deg);
	left: -9em;
	top: -2em;
}
#bop-right {
	right: -10em;
	transform: rotate(-45deg);
	top: -1em;
}
@media(max-width:1205px){
  #bop-left,
  #bop-right{
	  display: none;
  }	
}
/*==================*/
footer {
  padding: 2em;
  background: url("../images/design/brownpetroglyphs.jpg");
  background-size: 50em;
  background-position: center;
  border-top: 0.5em solid white;
}
#footer-logo-img {
}
#first-footer-row {
  display: table;
  width: 100%;
  margin-bottom: 2em;
}
#first-footer-row li {
  display: table-cell;
  width: 33.3%;
	text-align: center;
  padding-top: 1em;
}
#first-footer-row img {
  width: auto;
	margin: 0 auto;
  max-height: 7em;
}
#first-footer-row li a{
	display: block;
	text-align: center;
}
#social-icons img {
  width: 2em;
}

#second-footer-row {
  display: table;
  width: 100%;
}
#second-footer-row li {
  display: table-cell;
  width: 33.3%;
  text-align: center;
}
#second-footer-row a {
  display: block;
  text-transform: capitalize;
  line-height: 2em;
  text-align: center;
  color: white;
}

#footer-phone .material-symbols-outlined {
  display: inline-block;
  font-weight: bold;
}
#footer-phone p {
  display: inline-block;
  color: white;
}
#footer-map .material-symbols-outlined {
  display: inline-block;
  font-weight: bold;
}
#footer-map p {
  display: inline-block;
  vertical-align: top;
  line-height: 1.25em;
}
#footer-phone {
  margin-bottom: 2em;
}
#footer-map {
  margin-bottom: 2em;
}
#social-icons a {
  display: inline-block;
}
@media(max-width:950px){
	#second-footer-row {
		text-align: center;
	}
	#second-footer-row li{
		display: inline-block;
		width: 45%;
		margin-bottom: 2em;
		vertical-align: top;
	}
}
@media(max-width:600px){
	#second-footer-row li{
		width: 100%;
	}
	#first-footer-row li{
		width: 100%;
		display: block;
		border-bottom: none;
	}
}

.hero {
	background-size: cover !important;
	margin: 6em auto 0em auto;
	position: relative;
	height: 25em;
  }

.hero .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0000005c;
  z-index: 0;
}
.hero header {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  width: 95%;
  max-width: 40em;
}

  .hero h1 {
	color: white;
	font-weight: lighter;
	text-shadow: 0em 0em 1em black;
	line-height: 1em;
	margin: 0.75em 0em;
	text-transform: capitalize;
	font-size: 3em;
  }
  .hero hr {
	border: 1px solid #ffffff59;
  }
  .hero h3 {
	font-family: "Montserrat";
	color: white;
	margin: 1em;
	text-shadow: 0em 0em 1em black;
	text-transform: capitalize;
  }
  .hero hr {
    max-width: 20em;
  }
  .simple-header {
	background-size: 25em;
	margin-top: 6em;
	width: 100%;
	text-align: center;
	position: relative;
	background-position: center left;
	font-size: 1.5em;
	text-transform: capitalize;
	color: white;
	padding: 2em 0em 0em 0em;
	background-repeat: no-repeat;
	margin-bottom: 0.2em;
  }
  .simple-header h1,
  .simple-header h2 {
	color: white;
	font-weight: normal;
	font-size: 2em;
  }
@media(max-width:600px){
	 .simple-header h1,
		 .simple-header h2{
	font-size: 2em;
}
}
  @media(max-width:1000px){
	.hero {
	  padding: 10em 5em;
	  background-attachment: local !important;
	}
  }
  @media(max-width:500px){
	.hero {
	  padding: 8em 2em;
	}
  }
  #book-here header {
	font-size: 2em;
	font-family: "kontikialohajfregular", sans-serif;
	line-height: 1em;
	padding: 0.5em;
	color: #9d3124;
  }
  #book-here p {
	line-height: 2em;
	padding: 2em;
  }
  #book-here {
	margin: 0 auto;
	background-color: #FAFAFA;
	padding: 3em 2em;
	max-width: 50em;
  }

#about-marriot p {
  line-height: 2.5em;
  color: #333;
  margin: 3em auto;
}
#about-marriot {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}
#about-marriot span {
  font-size: 2em;
  float: left;
  color: #d2755c;
  font-family: "kontikialohajfregular", sans-serif;
  padding-right: 0.25em;
  line-height: 1em;
}


.packages-container,
.dinner-container {
	width: 100%;
	background-image: url("../images/design/bluepetroglyph.png");
	background-position: top;
	box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.33);
	position: relative;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-size: 48em;
}

.dinner-container table {
	margin: 0 auto;
	background: white;
	box-shadow: 0em 0.25em 0.5em rgba(0, 0, 0, 0.33);
	border: 0.5em solid white;
}

.dinner-container th,
.dinner-container tr {
	text-align: left;
	padding: 1em;
	border-bottom: 2px solid aliceblue;
}


/*======= blog styling =======*/

.blog-preview {
	display: inline-block;
	border-radius: 1em;
	background: #fff1ef;
	width: 100%;
	margin-bottom: 1em;
	padding: 1em;
}
.blog-preview header {
	overflow: hidden;
	position: relative;
	margin-top: 0 !important;
	height: 12.5em;
	z-index: 1;
	border-top-left-radius: 0.9em;
	border-top-right-radius: 0.9em;
	background: black;
}
.blog-preview header img {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	z-index: 4;
	transform: translate(-50%, -50%);
}
#blog-container {
	text-align: center;
	background: #FDC6BE;
}
#blog-body {
	text-align: center;
	column-count: 2;
	max-width: 1200px;
	margin: 1em auto;
	padding: 1em;
	background-image: url("../images/hibiscus-background.png");
	background-color: #FDC6BE;
}
#blog-hero h2 {
	margin-bottom: 1em;
}
.blog-preview h3 {
	font-size: 1.5em;
	margin: 0;
	padding: 1em;
	width: 100%;
	text-align: center;
	color: #D9321E;
	line-height: 1em;
}
.blog-preview a {
	margin-bottom: 1em;
	display: inline-block;
	background-color: #C08092;
	color: #FAFAFA;
	border-radius: 2em;
	text-transform: capitalize;
	padding: 0.5em 2em;
}
.blog-preview p {
	color: #333;
}
.date, .time {
	display: inline-block;
	color: #305661;
	margin: 0.5em;
}
.more-blog {
	background-color: black;
	opacity: 0.7;
	width: 191px;
	border-radius: 12px;
	margin: 1em auto;
	font-family: kon-tiki-aloha-jf, sans-serif;
	font-weight: 500;
	font-size: 22pt;
	border: solid 1px #61b3c5;
	padding: 4px 12px 4px 12px;
	text-shadow: 3px 3px 4px #2e1405a3;
	text-decoration: none;
	display: inline-block;
}
@media(max-width: 1000px) {
	.blog-preview header img {
		width: auto;
		height: 100%;
	}
}
@media(max-width:800px) {
	#blog-body {
		text-align: center;
		column-count: 1;
	}
	.blog-preview header img {
		width: 100%;
		height: auto;
	}
}

#menu {
  column-count: 2;
  padding: 4em;
  max-width: 1200px;
  margin: 0 auto;
}
#menu li {
  list-style-type: none;
  margin-bottom: 1.5em;
}
#menu b {
  font-weight: bold;
  font-size: 0.9em;
  color: #9d3124;
  display: block;
  line-height: 1em;
  margin-bottom: 0.5em;
}
#menu span {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  color: #333;
}

.menu-gallery {
  display: table;
  width: 100%;
}
.menu-gallery img {
  display: table-cell;
  width: 33.3%;
}
@media(max-width:600px){
	#menu {
  column-count: 1;
	text-align: center;
		font-size: 1.2em;
}
}
/* gallery */
#gallery {
	background: white;
}
#photo-gallery {
	column-count: 4;
	padding: 3em 5em;
	max-width: 1400px;
	margin: 0 auto;
}
#gallery h3 {
  max-width: 1400px;
  width: 100%;
  padding: 1em 3em;
  text-transform: capitalize;
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
}
.gallery-image {
	width: 100%;
	cursor: pointer;
	margin-bottom: 0.5em;
}

@media(max-width:1080px) {
	#photo-gallery {
		column-count: 3;
	}
}

@media(max-width:840px) {
	#photo-gallery {
		column-count: 2;
	}
}

@media(max-width: 620px) {
	#photo-gallery {
		column-count: 1;
	}
}

#photo-gallery.active{
	position: fixed;
	z-index: 995;
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin-top: 0;
	max-width: 100%;
	column-count: 1;
	padding: 0;
}

#photo-gallery.active .gallery-image{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 997;
	display: none;
	transform: translate(-50%,-50%);
	width: auto;
	max-height: 35em;
}
@media(max-width: 550px){
	#photo-gallery.active .gallery-image{
		width: 95%;
		
	}
}
#photo-gallery.active .gallery-image.active{
	display: block;
}

#photo-controls{
	display: none;
}

#photo-gallery.active #photo-controls{
	display: block;
	position: absolute;
	width: 95%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 999;
	max-width: 1400px;
}
#image-gallery-next {
  color: white;
  background: none;
  border: 0;
}
#image-gallery-prev {
  color: white;
  background: none;
  border: 0;
}
#image-gallery-next {
  color: white;
  background: none;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  float: right;
	  background: #000000ba;
  border-radius: 4em;
  padding: 0em 0.05em;
}
#image-gallery-prev {
  color: white;
  border: 0;
  cursor: pointer;
  float: left;
  background: #000000ba;
  border-radius: 4em;
  padding: 0em 0.1em;
}
.gallery-index-button {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0;
  margin: 0.25em;
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
	opacity: 0.25;
  cursor: pointer;
  display: none;
}
.gallery-index-button.active,
.gallery-index-button:hover{
	opacity: 1;
}
#photo-controls .material-symbols-outlined {
  font-size: 3em;
}
#photo-close-btn{
	position: absolute;
	z-index: 999;
	right: 1em;
	top: 1em;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
}
#photo-close-btn .material-symbols-outlined{
	color: white;
	font-size: 4em;
}
#photo-gallery.active #photo-close-btn{
	display: block;
}
/*===== blog ======*/
.img-header {
  position: relative;
  min-height: 21em;
  margin-top: 0em;
  background-color: black;
}
.img-header-banner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.img-header .title.text-left {
  color: white;
  position: absolute;
  z-index: 2;
  bottom: 1em;
  font-size: 2.5em;
  width: 100%;
  padding: 1em;
}
.HomeBody h1 {
  font-size: 1.5em;
  text-align: center;
  padding: 1em;
  color: #9d3124;
}
/*=====================*/
.accordion{
  width: 100%;
  background-color: white;
  max-width: 1200px;
  margin: 1em auto;
}
.accordion .tab{
	width: 100%;
	list-style-type: none;
}
.accordion .tab header {
	padding: 1.25em;
	text-align: center;
	text-transform: capitalize;
	font-weight: 100;
	border-bottom: 2px solid #FDC6BE;
	color: white;
	cursor: pointer;
  transition: 0.3s;
	font-family: "kontikialohajfregular", sans-serif;
	background: #FE9494;
}
.accordion .tab.active header{
  color:white;
  background: #d3765b;
}
.accordion .tab .accordion-content {
	width: 100%;
	padding: 2em 0.5em;
	text-align: center;
	transform-origin: top;
	border: 2px solid #fe949469;
	background: white;
}
.accordion .tab .accordion-content p {
	font-size: 1em;
	font-weight: 300;
	line-height: 2.5em;
	margin: 0 auto;
	width: 90%;
}
.accordion .tab .accordion-content{
	display: none;
}
@-webkit-keyframes fadeIn {
	0%{ transform: scaleY(0) }
	100%{ transform: scaleY(1)}
}
@-moz-keyframes fadeIn {
	0%{ transform: scaleY(0) }
	100%{ transform: scaleY(1)}
}
.accordion .tab.active .accordion-content{
	display: block;
  height: auto;
	-webkit-animation: fadeIn 0.3s ease-out;
	-moz-animation: fadeIn 0.3s ease-out;
}
#terms {
	padding: 2em;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	text-align: justify;
	line-height: 2em;
  }
  #terms p {
	margin-bottom: 2em;
  }
  .HomeContentTopBG {
	padding: 2em;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	margin-top: 8em;
}
#contact-form {
  text-align: center;
  padding: 3em;
  background: white;
  border-radius: 1em;
  column-count: 2;
  max-width: 800px;
  height: 21em;
	margin: 1em auto;
}
@media(max-width:750px){
	#contact-form{
		column-count: 1;
		height: auto;
	}
}
.form-control {
  padding: 1em;
  width: 100%;
  max-width: 25em;
  margin: 1em auto;
  border-radius: 0.75em;
  border: 0.15em solid #006285;
  text-transform: capitalize;
}
.row {
	break-inside: avoid;
}
.md-form label {
  display: block;
  color: #00678a;
  font-size: 1em;
  font-family: "kontikialohajfregular", sans-serif;
  font-weight: lighter;
}
.container {
  text-align: center;
  padding: 1em 0em;
}
#contact-form input[type=submit] {
  background-color: #BEC166;
  color: #012F3F;
  font-size: 1em;
  border-radius: 2em;
  text-transform: capitalize;
  border: 0;
  padding: 0.25em 2em;
  float: right;
}
.cart-empty {
  padding-top: 15em;
  text-align: center;
  padding-bottom: 10em;
  position: relative;
  background-image: url("../images/island-breeze-courtyard-mariot-kona.jpg");
  background-size: cover;
  background-position: center;
}
.cart-empty h1 {
  color: white;
  font-size: 2.5em;
  text-shadow: 0em 0em 1em white;
}
.cart-empty p {
  color: white;
  font-weight: bold;
  font-size: 1.25em;
  max-width: 24em;
  margin: 2em auto;
  line-height: 1.5em;
  text-shadow: 0em 0em 1em black;
	width: 80%;
}
@media(max-width:750px){
	#contact-form {
	   margin: 1em;
  }
}
.cart-empty a {
  background: gold;
  font-size: 1.5em;
  padding: 0.5em 1em;
  border-radius: 2em;
  color: #252128;
}
.page-container {
  max-width: 1400px;
  margin: 0 auto;
  background: white;
}
.content-column {
	width: 100%;
	padding: 2em 5em;
	position: relative;
	background-size: 12em;
	background-position: top;
	background-image: url("../images/design/59243970_671404636627996_1962563358624317440_n.jpg");
}
.accordion{
	width: 100%;
  background-color: white;
}
.accordion .tab{
	width: 100%;
}
.accordion .tab header {
	padding: 2.25em;
	text-align: center;
	text-transform: capitalize;
	font-family: ;
	font-weight: 100;
	background: #0c7ccd;
	border-bottom: 2px solid aliceblue;
	color: white;
	cursor: pointer;
  transition: 0.3s;
}
.accordion .tab.active header{
  color:#0c7ccd;
  background: gold;
}
.accordion .tab .content {
	width: 100%;
	padding: 3em;
	text-align: center;
	transform-origin: top;
}
.accordion .tab .content p {
	font-size: 1em;
	font-weight: 300;
	line-height: 2.5em;
	max-width: 40em;
	margin: 0 auto;
	width: 90%;
}
.accordion .tab .content{
	display: none;
}
@@-webkit-keyframes fadeIn {
	0%{ transform: scaleY(0) }
	100%{ transform: scaleY(1)}
}
@@-moz-keyframes fadeIn {
	0%{ transform: scaleY(0) }
	100%{ transform: scaleY(1)}
}
.accordion .tab.active .content{
	display: block;
  height: auto;
	-webkit-animation: fadeIn 0.3s ease-out;
	-moz-animation: fadeIn 0.3s ease-out;
}